@font-face {
  font-family: 'LibreCaslonText';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('LibreCaslonText-Bold'),
       url("../../fonts/LibreCaslonText-Bold.woff2") format("woff2")
}
