@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Georgia-Regular'),
       url("../../fonts/Georgia-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'ReemKufiFun';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ReemKufiFun-Regular'),
       url("../../fonts/ReemKufiFun-Regular.woff2") format("woff2")
}