$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {
  background-color: #2B2A2A;
  flex: 0 0 138px;
  padding: 140px 0;

  @media (max-width: 991px) {
    flex: none;
    width: 100%;
    padding: 20px 0;
  }

  @media (max-width: 600px) {}

  &__container {
    @media (max-width: 991px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
    }

    @media (max-width: 600px) {}
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #373737;
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 15px 15px 15px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("right", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(-45deg);
    }
  }

  &__icon {
    display: none;
    flex: 0 0 50px;
    height: 50px;

    @media (max-width: 991px) {
      display: block;
    }

    @media (max-width: 600px) {}

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      flex: 0 0 41px;
      height: 41px;
    }
  }
}

.nav {

  &__list {}

  &__item {
    &:not(:last-child) {
      margin-bottom: 35px;

      @media (max-width: 991px) {
        margin-bottom: 50px;
      }

      @media (max-width: 600px) {}
    }
  }

  &__link {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.29;
    color: #FFFFFF;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 19px;
    }

    @media (max-width: 600px) {
      font-size: 21px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 8px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  padding: 35px 0 0 0;

  &:not(:last-child) {
    margin-bottom: 160px;

    @media (max-width: 991px) {
      margin-bottom: 120px;
    }

    @media (max-width: 600px) {
      margin-bottom: 80px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 20px 16px;
    min-height: 504px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      padding: 20px 10px;
    }
  }

  &__descr {
    max-width: 589px;
  }

  &__span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #343333;
    opacity: 0.7;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 62px;
    text-transform: uppercase;
    color: #3AB8FF;

    @media (max-width: 991px) {
      font-size: 34px;
      line-height: 42px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__text {
    max-width: 480px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.29;
    color: #1E1E1F;
    opacity: 0.5;

    & span {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    min-width: 105px;
    min-height: 52px;
    width: fit-content;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #3AB8FF;
    transition: background-color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }

  &__icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;

    @media (max-width: 991px) {
      display: none;
    }

    @media (max-width: 600px) {}

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.webp .hero__content {
  background-image: url(../../img/hero.webp);
}

.no-webp .hero__content {
  background-image: url(../../img/hero.jpg);
}

// ======================================================================================================================================================

.benefits {
  &:not(:last-child) {
    margin-bottom: 160px;

    @media (max-width: 991px) {
      margin-bottom: 120px;
    }

    @media (max-width: 600px) {
      margin-bottom: 80px;
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(340px, 1fr));
    gap: 24px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {}

  &__top {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      gap: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__wrapper-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 80px;
    height: 48px;
    background-color: #3AB8FF;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      flex: 0 1 56px;
      height: 48px;
    }
  }

  &__strong {
    display: block;
    flex: 0 1 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #303030;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__icon {
    display: block;
    width: 32px;
    height: 32px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #303030;
  }
}

// ======================================================================================================================================================

.about {
  &:not(:last-child) {
    margin-bottom: 160px;

    @media (max-width: 991px) {
      margin-bottom: 120px;
    }

    @media (max-width: 600px) {
      margin-bottom: 80px;
    }
  }

  &__title {
    padding: 10px 15px;
    width: fit-content;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
    background-color: #3AB8FF;

    @media (max-width: 991px) {
      font-size: 26px;
      line-height: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
      line-height: 26px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__texts {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 24px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;

    }

    @media (max-width: 600px) {
      gap: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.46;
    color: #1D1D1D;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 15px;
    }
  }

  &__images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @media (max-width: 991px) {
      gap: 16px;
    }

    @media (max-width: 500px) {
      flex-direction: column;
    }
  }

  &__image {
    height: 136px;

    @media (max-width: 991px) {
      height: 88px;
    }

    @media (max-width: 500px) {
      height: 128px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &_1 {
      flex: 0 1 288px;

      @media (max-width: 991px) {}

      @media (max-width: 500px) {
        flex: none;
        width: 100%;
      }
    }

    &_2 {
      flex: 0 1 392px;

      @media (max-width: 991px) {}

      @media (max-width: 500px) {
        flex: none;
        width: 100%;
      }
    }

    &_3 {
      flex: 0 1 288px;

      @media (max-width: 991px) {}

      @media (max-width: 500px) {
        flex: none;
        width: 100%;
      }
    }
  }
}

// ======================================================================================================================================================

.games {
  &:not(:last-child) {
    margin-bottom: 160px;

    @media (max-width: 991px) {
      margin-bottom: 120px;
    }

    @media (max-width: 600px) {
      margin-bottom: 80px;
    }
  }

  &__title {
    padding: 10px 15px;
    width: fit-content;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
    background-color: #3AB8FF;

    @media (max-width: 991px) {
      font-size: 26px;
      line-height: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
      line-height: 26px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 32px;
  }

  &__item {
    flex: 0 0 399px;

    @media (max-width: 991px) {}

    @media (max-width: 500px) {
      flex: 0 1 100%;
    }
  }

  &__image {
    height: 238px;

    @media (max-width: 991px) {
      height: 199px;
    }

    @media (max-width: 400px) {
      height: 169px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.26;
    color: #1C1C1C;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 15px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }

  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    flex: 0 0 103px;
    height: 50px;
    background-color: #3AB8FF;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    transition: background-color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.footer {
  padding: 0 0 22px 0;

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.29;
    color: #282727;
    flex: 0 1 647px;

    @media (max-width: 991px) {
      flex: 0 1 416px;
    }

    @media (max-width: 600px) {
      flex: 0 1 100%;
    }

    & span {
      display: block;
    }
  }

  &__list {
    flex-shrink: 0;
    margin-left: auto;
    text-align: right;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #282727;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 17px;
      line-height: 19px;
    }

    @media (max-width: 600px) {
      font-size: 15px;
      line-height: 17px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {
  padding: 80px 0 0 0;

  @media (max-width: 991px) {
    padding: 60px 0 0 0;
  }

  @media (max-width: 600px) {
    padding: 40px 0 0 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: #000000;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: #000000;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: #000000;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: #000000;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 150px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 80px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: #000000;
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: #000000;
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: #000000;
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================


.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #000;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: #3AB8FF;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

// ======================================================================================================================================================

.game {
  padding: 80px 0 0 0;

  @media (max-width: 991px) {
    padding: 60px 0 0 0;
  }

  @media (max-width: 600px) {
    padding: 40px 0 0 0;
  }

  &__title {
    font-size: 42px;
    line-height: 1.3;
    color: #000;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__game {
    position: relative;
    padding-bottom: 50%;

    @media (max-width: 991px) {
      padding-bottom: 75%;
    }

    @media (max-width: 600px) {
      padding-bottom: 95%;
    }

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}

// ======================================================================================================================================================

.top {
  padding-top: 32px;

  @media (max-width: 991px) {
    display: none;
  }

  @media (max-width: 600px) {}

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__icon {
    display: block;
    flex: 0 0 50px;
    height: 50px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}