:root {
  // Шрифты
  --font-main: "Sarabun", sans-serif; // главный шрифт на странице
  --font-second: "MerriweatherSans", sans-serif; // дополнительный шрифт на странице
  --font-triple: "Graphik", sans-serif; // дополнительный шрифт на странице

  // Контейнер
  --container-width: 1215px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #FCFBF8; // бекграунд страницы
  --white: #ffffff;
  --dark: #181616;
  --green: #1E7135;
  --gray: #EBEBEB;
  --gray2: #EFEBEB;

  --hover: #298D45; // цвет при ховере
  --active: #329C50; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 120px;

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 60px;
    }
  }
}

.tt-1 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  font-feature-settings: 'pnum'on, 'lnum'on;

  @media (max-width: 1220px) {
    font-size: 46px;
  }

  @media (max-width: 991px) {
    font-size: 34px;
  }

  @media (max-width: 600px) {
    font-size: 26px;
  }
}

.tt-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 128px;
  min-height: 48px;
  padding: 10px 15px;
  width: fit-content;
  background-color: var(--gray);
  border-radius: 29px;
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  font-feature-settings: 'pnum'on, 'lnum'on;

  @media (max-width: 1220px) {
    font-size: 22px;
  }

  @media (max-width: 991px) {
    font-size: 20px;
  }

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-feature-settings: 'pnum'on, 'lnum'on;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tx-2 {
  font-family: var(--font-second);
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: 'pnum'on, 'lnum'on;

  @media (max-width: 1220px) {
    font-size: 22px;
  }

  @media (max-width: 991px) {
    font-size: 20px;
  }

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 161px;
  min-height: 56px;
  width: fit-content;
  background-color: var(--green);
  border-radius: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: var(--gray2);
}