$maxWidth: 1920;
$maxWidthContainer: 980;

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {
  padding: 20px 0;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  margin-bottom: 90px;
  @media (max-width: 991px) {
    margin-bottom: 60px;
    padding: 10px 0;
  }
  @media (max-width: 600px) {
    margin-bottom: 30px;
  }
  &_solutions {
    margin: 0;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #000000;
      z-index: 100;
      @include adaptive ("padding", 30, 15, 0);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("left", 30, 15, 0);
    }
    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transform: rotate(-45deg);
    }
  }

  &__logo {
    max-width: 162px;
    height: 67px;
    @media (max-width: 600px) {
      max-width: 122px;
      height: 47px;
    }
    & a {
      display: block;
      width: 100%;
      height: 100%;
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }


  &__logo-menu {
    display: none;
    max-width: 162px;
    height: 77px;
    margin-left: auto;
    margin-bottom: 120px;
    @media (max-width: 991px) {
      display: block;
    }
    & a {
      display: block;
      width: 100%;
      height: 100%;
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.burger {
  display: none;
  position: relative;
  @include adaptive ("width", 52, 45, 0);
  @include adaptive ("height", 26, 19, 0);
  background-color: transparent;
  @media (max-width: 991px) {
    display: block;
  }
  &__line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: translateY(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

}

.nav {

  &__list {
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 30px 19px;
    font-size: 16px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    transition: color .2s ease-in-out;
    @media (max-width: 991px) {
      font-size: 23px;
      line-height: 27px;
    }
    @media (any-hover: hover) {
    &:hover {
      color: #00d9ff;
    }
    }
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.nav-link-active {
  color: #00d9ff;
}