.solutions {
  margin-bottom: 90px;
  @media (max-width: 991px) {
    margin-bottom: 60px;
  }
  @media (max-width: 600px) {
    margin-bottom: 45px;
  }
  &__wrapper-title {

    padding: 30px 0;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      padding: 20px 0;
      margin-bottom: 25px;
    }
    @media (max-width: 600px) {
      padding: 15px 0;
      margin-bottom: 20px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    @media (max-width: 991px) {
      font-size: 21px;
      line-height: 31px;
    }
    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 26px;
    }
    &_margin {
      margin-bottom: 60px;
      @media (max-width: 991px) {
        margin-bottom: 45px;
      }
      @media (max-width: 600px) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
      }
    }
  }

  &__list {
    margin-bottom: 60px;
    @media (max-width: 991px) {
      margin-bottom: 45px;
    }
    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__item {
    display: flex;
    gap: 20px;
    @media (max-width: 600px) {
      gap: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 30px;
    height: 36px;
    @media (max-width: 600px) {
      width: 24px;
      height: 30px;
    }
    & img {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__descr {
    width: 98%;
  }

  &__strong {
    display: block;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__text {
    position: relative;
    font-size: 13px;
    line-height: 21px;
    font-weight: normal;
    font-weight: 400;
    color: #fff;

    &_ok {
      padding-left: 20px;
      &:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(51, 51, 51, .1);
        margin-bottom: 20px;
      }
    }
  }

		&__voronks {
      margin-bottom: 60px;
      @media (max-width: 991px) {
        margin-bottom: 45px;
      }
      @media (max-width: 600px) {
        margin-bottom: 30px;
      }
		}

		&__image {
      // max-width: 611px;
      height: 343px;
      @media (max-width: 600px) {
        height: 280px;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
		}

  &__start-top {
    margin-bottom: 60px;
    @media (max-width: 991px) {
      margin-bottom: 45px;
    }
    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-style: normal;
    color: #fff;
    margin-bottom: 25px;
    padding-bottom: 10px;
    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 24px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      border: 1px solid rgba(51, 51, 51,.1);
      border-left: 0;
      border-right: 0;
    }
  }

  &__ok {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 7px;

    &::before {
      content: "";
      position: absolute;
      top:6px;
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: 3px solid #fff;
      border-left: 3px solid #fff;
      transform: rotate(-45deg);
    }
  }

  &__middle {
    margin-bottom: 60px;
    @media (max-width: 991px) {
      margin-bottom: 45px;
    }
    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }


  &__kvad {
    position: relative;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(51, 51, 51, .1);
    @media (max-width: 991px) {
      width: 55%;
    }
    @media (max-width: 600px) {
      width: 65%;
    }
  }
  &__treg {
    position: absolute;
    bottom: -16px;
    left: 30px;
    width: 22px;
    height: 30px;
    transform: rotate(88deg);
    background-color: #ffffff;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-right: 1px solid rgba(51, 51, 51, .1);
      border-bottom: 1px solid rgba(51, 51, 51, .1);
      transform: skewX(35deg) ;
    }
  }
}
