$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {
  padding: 20px 0;
  background-color: #130A37;

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #130A37;
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 30px 30px 30px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("right", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }

    @media (max-width: 600px) {}
  }

  &__item {}

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #F3F3F3;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 8px;

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39));
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 608px;

    @media (max-width: 991px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @media (max-width: 600px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__descr {
    max-width: 638px;
  }

  &__title {
    font-family: 'JosefinSans';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 120%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #F8F8F8;

    @media (max-width: 991px) {
      font-size: 42px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__text {
    max-width: 448px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #F8F8F8;
  }
}

.webp .hero {
  background-image: url(../../img/hero.webp);
}

.no-webp .hero {
  background-image: url(../../img/hero.jpg);
}

// ======================================================================================================================================================

.benefits {
  &:not(:last-child) {
    margin-bottom: 120px;

    @media (max-width: 991px) {
      margin-bottom: 100px;
    }

    @media (max-width: 600px) {
      margin-bottom: 80px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 40px;
    background-color: #130A37;
    padding: 40px 32px;
    justify-content: center;

    @media (max-width: 1220px) {
      padding: 20px;
    }

    @media (max-width: 600px) {
      padding: 20px 10px;
    }
  }

  &__item {}

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #F8F8F8;

  }
}

// ======================================================================================================================================================

.rooms {
  &:not(:last-child) {
    margin-bottom: 120px;

    @media (max-width: 991px) {
      margin-bottom: 100px;
    }

    @media (max-width: 600px) {
      margin-bottom: 80px;
    }
  }

  &__title {
    font-family: 'JosefinSans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;

    @media (max-width: 991px) {
      font-size: 30px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 16px;
      }

      @media (max-width: 600px) {}
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px 32px;
  }

  &__item {}

  &__image {
    overflow: hidden;
    height: 192px;
    border-radius: 9px;

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
  }
}

// ======================================================================================================================================================

.about {
  &:not(:last-child) {
    margin-bottom: 120px;

    @media (max-width: 991px) {
      margin-bottom: 100px;
    }

    @media (max-width: 600px) {
      margin-bottom: 80px;
    }
  }

  &__container {
    display: flex;
    gap: 24px 32px;

    @media (max-width: 991px) {
      flex-direction: column-reverse;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__image {
    border-radius: 5px;
    flex: 0 1 448px;
    height: 496px;
    overflow: hidden;

    @media (max-width: 991px) {
      flex: none;
      margin: 0 auto;
      margin: 0 auto;
      max-width: 328px;
      height: 360px;
    }

    @media (max-width: 600px) {
      max-width: 272px;
      height: 304px;
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    flex: 0 1 640px;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
    }

    @media (max-width: 600px) {}
  }

  &__title {
    font-family: 'JosefinSans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    opacity: 0.5;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__subtitle {
    font-family: 'JosefinSans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #19191B;

    @media (max-width: 991px) {
      font-size: 30px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    opacity: 0.8;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}


// ======================================================================================================================================================

.contacts {
  &:not(:last-child) {
    margin-bottom: 120px;

    @media (max-width: 991px) {
      margin-bottom: 100px;
    }

    @media (max-width: 600px) {
      margin-bottom: 80px;
    }
  }

  &__container {
    display: flex;
    gap: 24px 32px;

    @media (max-width: 991px) {
      flex-direction: column-reverse;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__form {}

  &__descr {
    flex: 0 1 544px;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
    }

    @media (max-width: 600px) {}
  }

  &__title {
    font-family: 'JosefinSans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    opacity: 0.5;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__subtitle {
    font-family: 'JosefinSans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #19191B;

    @media (max-width: 991px) {
      font-size: 30px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.container {}

.form {
  display: block;
  flex: 0 1 544px;

  @media (max-width: 991px) {
    flex: none;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  &__top {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 24px 32px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    transition: border-color .3s ease-in-out;

    &::placeholder {
      color: rgba(0, 0, 0, .4);
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--hover);
      }
    }

    &:focus-visible {
      border-color: var(--active);
      transition-duration: .1s;
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    height: 136px;
    resize: none;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    transition: border-color .3s ease-in-out;

    &::placeholder {
      color: rgba(0, 0, 0, .4);
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--hover);
      }
    }

    &:focus-visible {
      border-color: var(--active);
      transition-duration: .1s;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-width: 102px;
    min-height: 56px;
    width: fit-content;
    background-color: #130A37;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
    transition: background-color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}


// ======================================================================================================================================================

.footer {
  padding: 80px 0;

  @media (max-width: 991px) {
    padding: 60px 0;
  }

  @media (max-width: 600px) {
    padding: 40px 0;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__item {}

  &__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2F2D2C;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }

  }
}

// ======================================================================================================================================================


.terms {
  padding-top: 60px;

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: #000;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: #000;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: #000;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: #000;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 150px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 80px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: #000;
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: #000;
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: #000;
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}