@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway-Medium'),
    url("../../fonts/Raleway-Medium.woff2") format("woff2")
}
@font-face {
  font-family: 'BlackHanSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('BlackHanSans-Regular'),
    url("../../fonts/BlackHanSans-Regular.woff2") format("woff2")
}
 