$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {
  padding: 20px 0;
  background: linear-gradient(180deg, rgba(29, 176, 209, 0.49) 0%, rgba(29, 176, 209, 0) 100%);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #070707;
      z-index: 100;
      @include adaptive ("padding", 30, 15, 0);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("right", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(-45deg);
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 47px;
  }

  &__icon {
    display: block;
    flex: 0 0 47px;
    height: 47px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.logo {
  flex-shrink: 0;
  width: 160px;
  height: 46px;

  &_2 {
    display: none;

    @media (max-width: 991px) {
      display: block;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px 45px;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }

    @media (max-width: 600px) {}
  }

  &__item {}

  &__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  &:not(:last-child) {
    margin-bottom: 100px;

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 60px;
    }
  }

  &__container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    gap: 20px;

    @media (max-width: 800px) {
      flex-direction: column;
      padding-bottom: 0;
    }

    @media (max-width: 600px) {}
  }

  &__descr {
    flex: 0 1 601px;

    @media (max-width: 800px) {
      flex: none;
      width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    color: #FEFEFE;

    @media (max-width: 991px) {
      font-size: 44px;
    }

    @media (max-width: 600px) {
      font-size: 34px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FBFBFB;
    opacity: 0.5;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 14px;
    }

    & span {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {}
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px 40px;
  }

  &__item {

    &_1 {}

    &_2 {}
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 10px;
    width: fit-content;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;

    &_1 {
      min-width: 141px;
      min-height: 51px;
      border: 1px solid #1DB0D1;
      transition: border-color .3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          border-color: var(--hover);
        }
      }

      &:active {
        border-color: var(--active);
        transition-duration: .1s;
      }
    }

    &_2 {
      min-width: 130px;
      min-height: 51px;
      width: fit-content;
      background-color: #1DB0D1;
      transition: background-color .3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--hover);
        }
      }

      &:active {
        background-color: var(--active);
        transition-duration: .1s;
      }
    }

    & img {
      display: block;
      flex: 0 0 19px;
      height: 9px;
      object-fit: contain;
      object-position: center;
    }
  }

  &__image {
    position: relative;
    padding-bottom: 50%;
    flex: 0 1 500px;

    @media (max-width: 800px) {
      flex: none;
      width: 100%;
    }

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      padding-bottom: 75%;
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================

.benefits {
  &:not(:last-child) {
    margin-bottom: 100px;

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 60px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #FEFEFE;
    opacity: 0.7;

    @media (max-width: 991px) {
      font-size: 28px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__item {
    background-color: #1B1B1B;
    padding: 15px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      padding: 10px;
    }
  }

  &__icon {
    display: block;
    width: 40px;
    height: 40px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #EFEFEF;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #F0F0F0;
    opacity: 0.7;
  }
}

// ======================================================================================================================================================

.about {
  &:not(:last-child) {
    margin-bottom: 100px;

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 60px;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      flex-direction: column;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__image {

    &_1 {
      flex: 0 0 352px;
      height: 416px;

      @media (max-width: 991px) {
        flex: 0 1 328px;
        height: 328px;
      }

      @media (max-width: 600px) {
        flex: 0 1 192px;
        height: 192px;
      }
    }

    &_2 {
      width: 256px;
      height: 296px;

      @media (max-width: 991px) {
        width: auto;
        flex: 0 1 240px;
        height: 277px;
      }

      @media (max-width: 600px) {
        flex: 0 0 144px;
        height: 162px;
      }
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__right {
    flex: 0 1 100%;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
    }

    @media (max-width: 600px) {}
  }

  &__top {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 39px;
    color: #FFFFFF;
    opacity: 0.7;

    @media (max-width: 991px) {
      font-size: 28px;
      line-height: 32px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 39px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #F7F7F7;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      flex-direction: column;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__bottom-item {

    &_1 {
      flex-shrink: 0;

      @media (max-width: 991px) {
        display: flex;
        gap: 24px;
        align-items: flex-end;
        flex: none;
        width: 100%;
      }

      @media (max-width: 600px) {
        gap: 8px;
      }
    }

    &_2 {
      flex: 0 1 100%;

      @media (max-width: 991px) {
        flex: none;
        width: 100%;
      }

      @media (max-width: 600px) {}
    }
  }
}

// ======================================================================================================================================================

.games {
  &:not(:last-child) {
    margin-bottom: 100px;

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 60px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;

    @media (max-width: 991px) {
      font-size: 28px;
      line-height: 32px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {}
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__item {
    flex: 0 0 320px;

    @media (max-width: 991px) {}

    @media (max-width: 400px) {
      flex: 0 1 100%;
    }
  }

  &__play {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    transition: color .3s ease-in-out;
    text-align: center;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__image {
    height: 222px;
    border-radius: 25px;
    overflow: hidden;

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    min-width: 98px;
    min-height: 35px;
    width: fit-content;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #1DB0D1;
    transition: background-color .3s ease-in-out;

    & img {
      display: block;
      width: 19px;
      height: 9px;
      object-fit: contain;
      object-position: center;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.footer {
  background-color: #1B1B1B;
  padding: 80px 0;

  @media (max-width: 991px) {
    padding: 60px 0;
  }

  @media (max-width: 600px) {
    padding: 40px 0;
  }

  &__container {
    display: flex;
    width: 100%;
    gap: 24px;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      gap: 16px
    }
  }

  &__logo {
    display: block;
    flex: 0 0 216px;
    height: 62px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__text {
    flex: 0 1 575px;
    margin-left: auto;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      flex: 0 1 100%;
    }

    @media (max-width: 600px) {}

    & span {
      display: block;
    }
  }

  &__list {
    text-align: right;
    flex-shrink: 0;
    margin-left: auto;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {
  padding: 80px 0;

  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    padding: 60px 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================

.game {
  padding: 80px 0;

  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    padding: 60px 0;
  }

  &__title {
    font-size: 42px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__game {
    position: relative;
    padding-bottom: 50%;

    @media (max-width: 991px) {
      padding-bottom: 75%;
    }

    @media (max-width: 600px) {
      padding-bottom: 100%;
    }

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}

// ======================================================================================================================================================

.found {
  padding: 80px 0;
  text-align: center;
  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    padding: 60px 0;
  }

  &__title {
    font-size: 42px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__link {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    min-width: 98px;
    min-height: 35px;
    width: fit-content;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #1DB0D1;
    transition: background-color .3s ease-in-out;

    & img {
      display: block;
      width: 19px;
      height: 9px;
      object-fit: contain;
      object-position: center;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  display: none;
}

.popup.popup-active.show {
  display: flex;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #163689;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 169px;
  min-height: 41px;
  width: fit-content;
  background-color: #4e608b;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}