@font-face {
  font-family: 'ChangaOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ChangaOne-Regular'),
       url("../../fonts/ChangaOne-Regular.woff2") format("woff2")
}