@font-face {
  font-family: 'BakbakOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('BakbakOne-Regular'),
    url("../../fonts/BakbakOne-Regular.woff2") format("woff2")
}
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Rajdhani-Medium'),
    url("../../fonts/Rajdhani-Medium.woff2") format("woff2")
}