:root {
  --hover: #df9b74;
  --active: #eb7632;
}

.container {
  max-width: 1350px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 991px) {
    padding: 0 15px;
  }

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow: hidden;
  background-color: #F5F5F5;
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 160px;

    @media (max-width: 991px) {
      margin-bottom: 130px;
    }

    @media (max-width: 600px) {
      margin-bottom: 100px;
    }
  }
}