@font-face {
  font-family: 'SansitaOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('SansitaOne-Regular'),
       url("../../fonts/SansitaOne-Regular.woff2") format("woff2")
}