:root {
  --hover: rgba(25, 176, 186, 0.22);
  --active: #0A6D74;
}

.container {
  max-width: 1250px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 991px) {
    padding: 0 15px;
  }

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: Karla, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow: hidden;
  background-color: #F6FDFE;
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 80px;
  }
}