$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

@mixin marginBlock {
  &:not(:last-child) {
    margin-bottom: 160px;

    @media (max-width: 991px) {
      margin-bottom: 100px;
    }

    @media (max-width: 600px) {
      margin-bottom: 80px;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 0;

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--dark);
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 15px 15px 15px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("right", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 600px) {}
  }

  &__item {}

  &__link {
    opacity: .6;
    color: var(--white);
    transition: opacity .3s ease-in-out, color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
        opacity: 1;
      }
    }

    &:active {
      color: var(--active);
      opacity: 1;
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    border-radius: 8px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  @include marginBlock;

  &__container {
    max-width: 1920px;
    display: flex;
    padding: 0;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    @media (max-width: 600px) {}
  }

  &__left {
    display: flex;
    flex-direction: column;
    flex: 0 1 45%;
    padding: 100px 44px 60px 44px;
    background-color: var(--dark);

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
      padding: 100px 15px 40px 15px;
    }

    @media (max-width: 600px) {
      padding: 100px 10px 30px 10px;
    }
  }

  &__descr {
    margin-top: auto;

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__title {
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    color: var(--white);
    opacity: .6;

    &:not(:last-child) {
      margin-bottom: 24px;

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__item {
    flex-shrink: 0;
  }

  &__linl {
    color: var(--white);
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;

    &_1 {
      @media (any-hover: hover) {
        &:hover {
          background-color: var(--hover);
        }
      }

      &:active {
        background-color: var(--active);
        transition-duration: .1s;
      }
    }

    &_2 {
      @media (any-hover: hover) {
        &:hover {
          border-color: var(--hover);
        }
      }

      &:active {
        border-color: var(--active);
        transition-duration: .1s;
      }
    }
  }

  &__image {
    position: relative;
    flex: 0 1 55%;
    padding-bottom: 45%;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
    }

    @media (max-width: 600px) {
      padding-bottom: 75%;
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.hero-benefits {
  margin-top: auto;

  &__item {
    display: flex;
    gap: 8px;

    &::before {
      content: "";
      flex: 0 0 19px;
      height: 3px;
      background-color: var(--orange);
      margin-top: 10px;

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-top: 7px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__text {
    color: var(--white);
  }
}

// ======================================================================================================================================================

.benefits {
  @include marginBlock;

  &__titles {
    display: flex;
    flex-direction: column-reverse;

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 1220px) {
        margin-bottom: 40px;
      }

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
  }

  &__title {
    color: var(--orange);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    color: var(--black);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

    @media (max-width: 991px) {
      gap: 16px 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__item {
    flex: 0 0 302px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      flex: 0 1 100%;
    }
  }

  &__icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;

    @media (max-width: 991px) {
      width: 34px;
      height: 34px;
    }

    @media (max-width: 600px) {
      width: 30px;
      height: 30px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__text {
    text-align: center;
    color: var(--black);
  }
}

// ======================================================================================================================================================

.about {
  @include marginBlock();

  &_2 {
    background-color: var(--dark);
    padding: 80px 0;

    @media (max-width: 991px) {
      padding: 60px 0;
    }

    @media (max-width: 600px) {
      padding: 40px 0;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      flex-direction: column-reverse;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }

    &_2 {
      flex-direction: row-reverse;

      @media (max-width: 991px) {
        flex-direction: column-reverse;
      }
    }
  }

  &__image {
    @media (max-width: 991px) {
      position: relative;
      padding-bottom: 30%;
    }

    @media (max-width: 768px) {
      padding-bottom: 50%;
    }

    @media (max-width: 500px) {
      padding-bottom: 70%;
    }

    & picture {
      @media (max-width: 991px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &_1 {
      flex: 0 1 416px;
      height: 352px;

      @media (max-width: 991px) {
        height: auto;
        flex: none;
        width: 100%;
      }

    }

    &_2 {
      flex: 0 1 304px;
      height: 304px;

      @media (max-width: 991px) {
        height: auto;
        flex: none;
        width: 100%;
      }
    }
  }

  &__content {
    flex: 0 1 858px;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
    }

    @media (max-width: 600px) {}
  }

  &__titles {
    display: flex;
    flex-direction: column-reverse;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__title {
    color: var(--orange);

    &_2 {
      opacity: .8;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    color: var(--black);

    &_2 {
      color: var(--light);
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
      flex-direction: column-reverse;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }

    &_2 {
      flex-direction: row-reverse;

      @media (max-width: 991px) {
        flex-direction: column-reverse;
      }
    }
  }

  &__descr {
    flex: 0 1 526px;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
    }
  }

  &__text {
    color: var(--black);

    &_2 {
      color: var(--light);
    }
  }
}

// ======================================================================================================================================================

.contacts {
  @include marginBlock();

  &__container {
    max-width: 680px;
  }

  &__title {
    text-align: center;
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__text {
    text-align: center;
    color: var(--black);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__form {}
}

.form {
  display: block;
  width: 100%;

  &__top {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
      grid-template-columns: 1fr;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 16px;
    font-family: var(--font-triple);
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: rgba(0, 0, 0, .4);
    background-color: #D8D8D8;
    transition: background-color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &::placeholder {
      transition: color .3s ease-in-out;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);

        &::placeholder {
          color: var(--white);
        }
      }
    }

    &:focus-visible {
      background-color: var(--hover);
      transition-duration: .1s;

      &::placeholder {
        color: var(--white);
        transition-duration: .1s;
      }
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 192px;
    padding: 16px;
    resize: none;
    font-family: var(--font-triple);
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: rgba(0, 0, 0, .4);
    background-color: #D8D8D8;
    transition: background-color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &::placeholder {
      transition: color .3s ease-in-out;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);

        &::placeholder {
          color: var(--white);
        }
      }
    }

    &:focus-visible {
      background-color: var(--hover);
      transition-duration: .1s;

      &::placeholder {
        color: var(--white);
        transition-duration: .1s;
      }
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__button {
    min-width: 164px;
    min-height: 56px;
    margin-left: auto;
    color: var(--white);
    transition: background-color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.footer {
  padding-bottom: 80px;

  @media (max-width: 991px) {
    padding-bottom: 60px;
  }

  @media (max-width: 600px) {
    padding-bottom: 40px;
  }

  &__container {}

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  &__item {}

  &__link {
    color: var(--black);
    transition: color .3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: var(--dark);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: var(--dark);
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: var(--dark);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: var(--dark);
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================

.no-found {


  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: var(--dark);
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: var(--dark);
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: var(--dark);
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}