@font-face {
  font-family: 'CodaCaption';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('CodaCaption-ExtraBold'),
       url("../../fonts/CodaCaption-ExtraBold.woff2") format("woff2")
}