@font-face {
  font-family: 'OleoScript';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('OleoScript-Regular'),
    url("../../fonts/OleoScript-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Numans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Numans-Regular'),
    url("../../fonts/Numans-Regular.woff2") format("woff2")
}