@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Questrial-Regular'),
    url("../../fonts/Questrial-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'ReemKufiFun';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ReemKufiFun-Regular'),
    url("../../fonts/ReemKufiFun-Regular.woff2") format("woff2")
}