@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sarala-Regular'),
    url("../../fonts/Sarala-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Shanti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Shanti-Regular'),
    url("../../fonts/Shanti-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('WorkSans-Bold'),
    url("../../fonts/WorkSans-Bold.woff2") format("woff2")
}