@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sansation-Regular'),
    url("../../fonts/Sansation-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'RopaSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('RopaSans-Regular'),
    url("../../fonts/RopaSans-Regular.woff2") format("woff2")
}