$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {
  padding: 20px 0;

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #F4F4F4;
      z-index: 100;
      padding: 100px 30px 30px 30px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }

    @media (max-width: 600px) {
      padding: 80px 15px 15px 15px;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("right", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }

    @media (max-width: 600px) {}
  }

  &__item {}

  &__link {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #161615;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 48px;
  height: 26px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  & span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #282727;
    border-radius: 10px;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  padding-top: 20px;

  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &__container {
    display: flex;
    gap: 48px;
    max-width: 1920px;
    padding: 0;

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      gap: 20px;
    }

    @media (max-width: 600px) {}
  }

  &__image {
    position: relative;
    padding-bottom: 24%;
    flex: 0 1 800px;

    @media (max-width: 1440px) {
      padding-bottom: 40%;
    }

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
      padding-bottom: 60%;
    }

    @media (max-width: 600px) {
      padding-bottom: 80%;
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__descr {
    padding-top: 80px;
    flex: 0 1 629px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1600px) {
      padding-top: 0;
    }

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
      padding: 0 15px;
    }

    @media (max-width: 600px) {
      padding: 0 10px;
    }
  }

  &__span {
    display: block;
    font-family: 'NoticiaText';
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    opacity: 0.5;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-family: 'NoticiaText';
    font-weight: 700;
    font-size: 52px;
    line-height: 120%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #0A6D74;

    @media (max-width: 991px) {
      font-size: 36px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    max-width: 488px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    opacity: 0.5;

    @media (max-width: 991px) {
      font-size: 17px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 20px;
    min-width: 144px;
    min-height: 42px;
    width: fit-content;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #0A6D74;
    border-bottom: 1px solid #0A6D74;
    transition: background-color .3s ease-in-out;

    & img {
      display: block;
      width: 22px;
      height: 8px;
      object-fit: contain;
      object-position: center;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.benefits {
  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px 32px;

    @media (max-width: 991px) {
      gap: 16px 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 15px 30px 15px;
    border-bottom: 1px solid #0A6D74;

    @media (max-width: 991px) {
      padding: 0 10px 20px 10px;
      gap: 15px;
    }

    @media (max-width: 600px) {
      padding: 0 0 10px 0;
      gap: 10px;
    }
  }

  &__icon {
    display: block;
    flex: 0 0 32px;
    height: 32px;

    @media (max-width: 991px) {
      flex: 0 0 28px;
      height: 28px;
    }

    @media (max-width: 600px) {
      flex: 0 0 24px;
      height: 24px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__text {
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2D2D2D;
    opacity: 0.8;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
}


// ======================================================================================================================================================

.about {
  &:not(:last-child) {
    margin-bottom: 200px;

    @media (max-width: 1300px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {}
  }

  &__title {
    font-family: 'NoticiaText';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #343434;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 26px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    font-family: 'NoticiaText';
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    opacity: 0.5;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    gap: 24px;
    align-items: flex-start;

    @media (max-width: 1300px) {
      flex-direction: column;
    }
  }

  &__descr {
    flex: 0 1 592px;
    background-color: #FEFEFE;
    padding: 24px 104px 24px 16px;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #343434;

    @media (max-width: 1300px) {
      padding: 24px 16px;
      flex: none;
      width: 100%;
    }

    @media (max-width: 991px) {
      padding: 20px 10px;
    }

    @media (max-width: 600px) {
      padding: 20px 5px;
    }
  }

  &__images {
    max-width: 696px;
    position: absolute;
    display: flex;
    gap: 32px;
    top: 0;
    right: 0;
    width: 100%;
    height: 536px;
    z-index: 1;

    @media (max-width: 1300px) {
      position: static;
      margin: 0 auto;
    }

    @media (max-width: 991px) {
      gap: 24px;
      height: auto;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__image {

    &_1 {
      width: 280px;
      height: 464px;
      align-self: flex-end;

      @media (max-width: 1300px) {
        flex: 0 1 280px;
        width: auto;
      }

      @media (max-width: 600px) {
        height: 300px;
      }
    }

    &_2 {
      width: 383px;
      height: 448px;
      align-self: flex-start;

      @media (max-width: 1300px) {
        width: auto;
        flex: 0 1 383px;
      }

      @media (max-width: 991px) {
        flex: 0 1 280px;
        height: 464px;
      }

      @media (max-width: 600px) {
        height: 300px;
      }
    }

    & picture {
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

// ======================================================================================================================================================

.events {
  position: relative;
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: 991px) {
    padding: 60px 0;
  }

  @media (max-width: 600px) {
    padding: 40px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52));
  }

  &:not(:last-child) {
    margin-bottom: 80px;
  }

  & .container {
    position: relative;
    z-index: 2;
  }

  &__title {
    font-family: 'NoticiaText';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #F4F4F4;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 26px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #F4F4F4;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
}

.webp .events {
  background-image: url(../../img/events.webp);
}

.no-webp .events {
  background-image: url(../../img/events.jpg);
}

// ======================================================================================================================================================

.contacts {
  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &__container {
    max-width: 592px;
  }

  &__title {
    font-family: 'NoticiaText';
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #0A6D74;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 28px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #2D2D2D;
    opacity: 0.7;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__form {}
}

.form {
  display: block;
  width: 100%;

  &__top {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 24px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      gap: 16px;
      grid-template-columns: 1fr;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__input {
    height: 41px;
    display: block;
    width: 100%;
    padding: 0 16px;
    border-bottom: 1px solid #0A6D74;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    background-color: transparent;
    transition: background-color .3s ease-in-out;

    &::placeholder {
      color: rgba(0, 0, 0, .3);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:focus-visible {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }

  &__textarea {
    height: 150px;
    display: block;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #0A6D74;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background-color: transparent;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    transition: background-color .3s ease-in-out;

    &::placeholder {
      color: rgba(0, 0, 0, .3);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:focus-visible {
      background-color: var(--active);
      transition-duration: .1s;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #0A6D74;
    width: 85px;
    height: 42px;
    width: fit-content;
    border-bottom: 1px solid #0A6D74;
    transition: background-color .3s ease-in-out;
    margin: 0 auto;

    & img {
      display: block;
      width: 22px;
      height: 8px;
      object-fit: contain;
      object-position: center;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}


// ======================================================================================================================================================

.footer {
padding: 34px 0 60px 0;
background-color: #2D2D2D;
@media (max-width: 991px) {
  padding: 40px 0;
}
@media (max-width: 600px) {
  padding: 30px 0;
}
  &__container {
    display: flex;
    gap:24px  89px;
    align-items: flex-end;
    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 600px) {
gap: 16px;
    }
  }

  &__map {
    flex: 0 0 431px;
height: 266px;
@media (max-width: 991px) {
flex: none;
width: 100%;
 
}
@media (max-width: 600px) {

}
& iframe {
  width: 100%;
  height: 100%;
}
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 32px;
    align-items: center;
  }

  &__item {
  }

  &__link {
    font-size: 16px;
line-height: 150%;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #FFFFFF;
transition: color .3s ease-in-out;
@media (any-hover: hover) {
&:hover {
  color: var(--hover);
}
}
&:active {
  color: var(--active);
 transition-duration: .1s;
}
  }
}
// ======================================================================================================================================================

.terms {
  padding: 80px 0 0 0;
  @media (max-width: 991px) {
    padding: 60px 0 0 0;
  }
  @media (max-width: 600px) {
    padding: 40px 0 0 0;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: #000000;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 36px;
    line-height: 1.3;
    color: #000000;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.3;
    color: #000000;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 18px;
    line-height: 1.3;
    color: #000000;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================

.no-found {
  padding: 250px 0 50px 0;

  @media (max-width: 991px) {
    padding: 150px 0 50px 0;
  }

  @media (max-width: 600px) {
    padding: 80px 0 50px 0;
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    color: #000000;
    text-align: center;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.3;
    color: #000000;
    text-align: center;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.3;
    color: #000000;
    font-weight: 400;
    transition: color .3s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}