:root {
  // Шрифты
  --font-main: Arial; // главный шрифт на странице

  // Контейнер
  --container-width: 1215px; // ширина контейнера
  --container-step: 20px; // падинги по бокам на пк
  --container-step-tablet: 15px; // падинги по бокам на планшетах
  --container-step-mobile: 10px; // падинги по бокам на мобилках
  --container: calc(var(--container-width) + (var(--container-step) * 2)); // сам контейнер

  // Цвета
  --background-page: #070707; // бекграунд страницы
  --white: #ffffff;
  --orange: #F28705;
  --d-aqua: #037F8C;

  --hover: #E3810A; // цвет при ховере
  --active: #ED6A0B; // цвет при активе
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-step);

  @media (max-width: 991px) {
    padding: 0 var(--container-step-tablet);
  }

  @media (max-width: 600px) {
    padding: 0 var(--container-step-mobile);
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-page);
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 160px;

    @media (max-width: 1220px) {
      margin-bottom: 120px;
    }

    @media (max-width: 991px) {
      margin-bottom: 100px;
    }

    @media (max-width: 600px) {
      margin-bottom: 80px;
    }
  }
}

.tt-1 {
  font-weight: 900;
  font-size: 57px;
  line-height: 140.350877%;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 1220px) {
    font-size: 47px;
  }

  @media (max-width: 991px) {
    font-size: 37px;
  }

  @media (max-width: 600px) {
    font-size: 26px;
  }
}

.tt-2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 133.5%;

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 600px) {
    font-size: 22px;
  }
}

.tt-3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 133.5%;

  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.tx-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.tx-2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 116.666667%;
  text-align: center;

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.but-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 145px;
  min-height: 50px;
  width: fit-content;
  background-color: #F28705;
  border-radius: 41px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}