@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(''),
       url("../../fonts/.woff2") format("woff2"),
       url("../../fonts/.woff") format("woff");
}

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(''),
       url("../../fonts/.woff2") format("woff2"),
       url("../../fonts/.woff") format("woff");
}

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
       url("../../fonts/.woff2") format("woff2"),
       url("../../fonts/.woff") format("woff");
}

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url("../../fonts/.woff2") format("woff2"),
       url("../../fonts/.woff") format("woff");
}

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url("../../fonts/.woff2") format("woff2"),
       url("../../fonts/.woff") format("woff");
}

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url("../../fonts/.woff2") format("woff2"),
       url("../../fonts/.woff") format("woff");
}

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url("../../fonts/.woff2") format("woff2"),
       url("../../fonts/.woff") format("woff");
}

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''),
       url("../../fonts/.woff2") format("woff2"),
       url("../../fonts/.woff") format("woff");
}

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''),
       url("../../fonts/.woff2") format("woff2"),
       url("../../fonts/.woff") format("woff");
}

/* Начертания

100 - thin
200 - extra light
300 - light
400 - regular ( normal )
500 - medium
600 - semi bold
700 - bold
800 - extra bold
900 - black 

*/