:root {
  --hover: #cc7410;
  --active: #a15a09;
}

.container {
  max-width: 1374px;
  padding: 0 32px;
  margin: 0 auto;

  @media (max-width: 600px) {
    padding: 0 16px;
  }

  @media (max-width: 374px) {
    padding: 0 10px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: Lato, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow: hidden;
  background-color: #F9F9F9;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    background-color: #DBDBDB;
  }

  @media (max-width: 600px) {}
}

main {
  flex: 1 1 auto;
}

.title-v2 {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 28px;
  line-height: 36px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #EEAB00;
  background-color: #2B2B2B;
  padding: 8px 15px;
  text-align: center;
  width: fit-content;
  min-width: 280px;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    min-width: 240px;
    font-size: 24px;
    line-height: 29px;
  }

  @media (max-width: 600px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.title-v3 {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 52px;
  line-height: 57px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #171717;
  opacity: 0.7;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    font-size: 32px;
    line-height: 42px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
    line-height: 26px;
  }
}

.title-v4 {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 28px;
  line-height: 36px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: rgba(23, 23, 23, .7);

  & span {
    color: #ff8a00
  }

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    font-size: 24px;
    line-height: 28px;
  }

  @media (max-width: 600px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.title-v5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #FF8A00;

  @media (max-width: 991px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.text-v1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #000000;

  & strong {
    font-weight: 400;
    color: #FF8A00;
  }
}

.link-nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #F7F7F7;
  text-align: center;
  transition: color .3s linear;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    font-size: 20px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
    line-height: 28px;
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--hover);
    }
  }

  &:active {
    color: var(--active);
    transition-duration: .1s;
  }
}

.link-v1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: fit-content;
  min-width: 226px;
  min-height: 60px;
  background: linear-gradient(90deg, #FFB800 0%, #FF8A00 100%);
  box-shadow: 0px 4px 6px rgba(17, 6, 62, 0.39);
  border-radius: 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 20px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #FFFFFF;

  @media (max-width: 600px) {
    min-width: 210px;
  }

  @media (any-hover: hover) {
    &:hover {
      & span {
        transform: translateX(2px);
      }
    }
  }

  &:active {
    & span {
      transform: translateX(2px);
      transition-duration: .1s;
    }
  }

  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25px;
    flex: 0 0 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #e7810c;
    padding: 5px 5px 5px 7px;
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    -o-transition: transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear
  }

  & svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: transform .3s linear;
  }
}

.link-v2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  min-width: 176px;
  min-height: 56px;
  background-color: #FF8A00;
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #FDFDFD;
  padding: 10px 20px;
  transition: background-color .3s linear;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    min-width: 130px;
  }

  @media (max-width: 600px) {
    min-height: 48px;
  }

  & svg {
    display: block;
    flex: 0 0 17px;
    height: 7px;
    object-fit: contain;
    object-position: center;

    @media (max-width: 991px) {
      display: none;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}

.link-v3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  width: fit-content;
  min-width: 84px;
  min-height: 40px;
  background-color: #FF8A00;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #F9F9F9;
  transition: background-color .3s linear;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--hover);
    transition-duration: .1s;
  }
}